<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sysmob.biblivirti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.BiblivirtiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blue"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/BiblivirtiTheme">

        <!-- META-DATAS -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.PesquisarActivity" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_app_white_medium" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <!-- SERVICES -->
        <service android:name=".services.BiblivirtiMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.BiblivirtiInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ACTIVITIES -->
        <!-- Splash Activity -->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BiblivirtiTheme.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/activity_login_label"
            android:screenOrientation="portrait"
            android:theme="@style/BiblivirtiTheme.LoginActivity" />

        <!-- Nova Conta Activity -->
        <activity
            android:name=".activities.NovaContaActivity"
            android:label="@string/activity_nova_conta_label"
            android:screenOrientation="portrait" />

        <!-- Recupear Senha Activity -->
        <activity
            android:name=".activities.RecuperarSenhaActivity"
            android:label="@string/activity_recuperar_senha_label"
            android:screenOrientation="portrait" />
        />

        <!-- Novo/Editar Grupo Activity -->
        <activity
            android:name=".activities.NovoEditarGrupoActivity"
            android:label="@string/activity_novo_grupo_label"
            android:screenOrientation="portrait" />

        <!-- Novo/Editar Matertial Activity -->
        <activity
            android:name=".activities.NovoEditarMaterialActivity"
            android:label="@string/activity_novo_material_label"
            android:screenOrientation="portrait" />

        <!-- Perfil Activity -->
        <activity
            android:name=".activities.PerfilActivity"
            android:label="@string/activity_perfil_label"
            android:screenOrientation="portrait" />

        <!-- Editar Perfil Activity -->
        <activity
            android:name=".activities.EditarPerfilActivity"
            android:label="@string/activity_editar_perfil_label"
            android:screenOrientation="portrait" />

        <!-- Info Grupo Activity -->
        <activity
            android:name=".activities.InfoGrupoActivity"
            android:label="@string/activity_info_grupo_label"
            android:screenOrientation="portrait" />

        <!-- Notificacao Activity -->
        <activity
            android:name=".activities.NotificacaoActivity"
            android:label="@string/activity_notificacoes_label"
            android:screenOrientation="portrait" />

        <!-- Confirmar Email Activity -->
        <activity
            android:name=".activities.ConfirmarEmailActivity"
            android:label="@string/activity_confirmar_email_label"
            android:screenOrientation="portrait" />

        <!-- Home Activity -->
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BiblivirtiTheme.HomeActivity" />

        <!-- Pesquisar Activity -->
        <activity
            android:name=".activities.PesquisarActivity"
            android:label="@string/activity_pesquisar_label"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BiblivirtiTheme.PesquisarActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Grupo Activity -->
        <activity
            android:name=".activities.GrupoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BiblivirtiTheme.GrupoActivity" />

        <!-- Confirmar Recuperacao Activity -->
        <activity
            android:name=".activities.ConfirmarRecuperacaoActivity"
            android:label="@string/activity_confirmar_recuperacao_label"
            android:screenOrientation="portrait" />
    </application>

</manifest>